.body-white {
  color: white;
}

*/ body * {
  font-family: Arial, Helvetica, sans-serif;
}

.body-homepage * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #sm-homepage {
    /* padding-left: 140px !important; */
    background-color: gray;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}


#sm-sample-post {
  margin: auto;
}


#sm-post-boundary {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}


/* Homepage Trending section */
#sm-trending-section {
  width: 20%;
}

/* Individual trending components */
#sm-movie-trending-section {
  text-align: left;
}

#sm-critics-trending-section {
  text-align: left;
}

.sm-search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

#search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 12px 10px;
  font-size: 18px;
}

#search-bar input::placeholder {
  color: black;
}

#search-bar button {
  /* border: 0;
  border-radius: 50%;
  background: #36454F;
  cursor: pointer; */
  width: 40px;
  height: 40px;
  background: transparent;
}

/* .search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
} */

/* #search-field {
  border-radius: 50px;
  height: 40px;
  width: 50%;
  border: 2px solid #d6d4d4;
} */


/* .search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 80%;
  width: 18%;
  background: blue;
} */
