.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.card h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #495057;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.role-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.role-option {
    display: flex;
    align-items: center;
}

.role-option input {
    margin-right: 5px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
